#header{
    background-color: black;
    height: 280px;
}
#p1{
    color: aliceblue;
     margin: 10px 0 0 0px;
      font-size: 20px;
}
#img{
    height: 20px;
    width: 30px;
    margin: 10px 0px 0px 210px;
}
.A{
        height: 60;
        display: flex;
        flex-wrap: wrap;;
        border-bottom: 2px solid gray;
}
.home{
    margin-left: 400px;
    text-decoration: none;
}
#About{
    text-decoration: none;
}
#Contact{
    text-decoration: none;
}
a{
    color: white;
    margin: 20px 0 0 10px;
    font-size: 20px;
    
}
select{
    background-color: black;
    color: white;
    border: none;
    margin: 18px 0 0 10px;
    font-size: 17px;
    height: 25px;
}
.img4{
    width: 20px;
    height: 20px;
    margin:22px 10px 0px 5px ;
}
input{
    margin-top: 23px;
    margin-bottom: 15px;
    box-sizing: border-box;
    appearance: auto;
    padding-block: 1px;
    padding-inline: 2px;

}
.two{
    display: flex;
    flex-wrap: wrap;
    margin-top: -15px;
}
.img1{
    width: 30px;
    height: 30px;
    margin: 8px 0 0 280px;
}
.img2{
    background-color: black;
    width: 18px;
    height: 18px;
    margin: 14px 0px 0px 10px;
}
.img3{
    margin: 6px 0px 0px 10px;
    height: 35px;
    width: 30px;

}
.p1{
    color: gray;
}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
.h1{
    color: white;
    padding-left: 9em;
    padding-top: 1em;
    text-transform:
     capitalize;
}
.B{
    height: 70px;
    display: flex;
    padding-left: 17em;
    padding-top: 2em;
}
.p2{
    color: gray;
}
.img6{
    margin: 9px 0px 0px 10px;
    height: 25px;
    width: 25px;
}
.img7{
    width: 18px;
    height: 18px;
    margin: 14px 0px 0px 10px;

}
#GGP{
    height: 400px;
    width: 700px;
    margin-left: 15em;
    margin-top: -1em;
}
.C{
    align-content: center;
    padding-left: 15em;
}
.D{
    display: flex;
    flex-wrap: wrap;
    margin-left: 15em;

#fb{
    padding-left: 20em;
    height: 25px;
}
#int{
    margin-left: -5;
    height: 35px;
    width: 30px;
}